<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sklep{% endblock %}</title>
        
		{% block head_style %}
        
			{% stylesheets 
				'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
				'@AppLayoutBundle/Resources/views/css/style.css'
			%}
	        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
	        	        
	        {% endstylesheets %}
        
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div>
    	<div id="menu">
    		<a href="{{ path('product_list') }}">Produkty</a>
    		
    	</div>
    	
    	<div id="side">
    		{% block side %}Side{% endblock %}
    	</div>
    	
    	<div id="contest">

    		{% block body %}{% endblock %}
    	</div>
    	
    	<div class="clear"></div>
    	
    	<div id="footer">
    		{% block footer %}Footer{% endblock %}
    	</div>
   	</div>
        
        
        {% block scripts %}
	        {% javascripts
	        	'https://code.jquery.com/jquery-1.11.1.min.js'
	        	'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
	        %}
	        	<script src="{{ asset_url }}"></script>
	        {% endjavascripts %}
	        
        {% endblock scripts %}
    </body>
</html>
