{% extends "::base.html.twig" %}

{% block title %}Edytuj produkt"{{ form.vars.data.name }}"{% endblock %}

{% block body %}
<h1>{{ block ('title') }}</h1>

{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}


{% endblock %}