{% extends "AppLayoutBundle::index.html.twig" %}

{% block title %}Dodaj nowy produkt{% endblock %}

{% block body %}

<h1>{{ block('title') }}</h1>

{{ form(form, {'attr': {'novalidate': 'novalidate', 'role': 'form'}}) }}

{% endblock %}