{% extends "AppLayoutBundle::index.html.twig" %}

{% block title %}Koszyk{% endblock %}

{% block body %}
<p>Twoj koszyk</p>

<table class="table">
	<thead>
		<tr>
			<th>Produkt</th>
			<th>Cena</th>                  
		</tr>
	</thead>
	<tbody>
		{% for p in products %}
			<tr>
				<td>{{ p.name }}</td>
				<td>{{ p.price }}</td>
			</tr>			
		{% endfor %}
	</tbody>
</table>
{% endblock %}