{% trans_default_domain 'FOSUserBundle' %}

<div class="form-signin">
    <p class="form-control">{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p class="form-control">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
